@page
@model IndexModel
@section DynamicResources {
    <script src="/js/web-application.js" async></script>
}
@{
    ViewData["Title"] = "Wunion.DataAdapter ORM";
}
<div>
    <h2>@ViewBag.Title</h2>
</div>
