@page
@model IndexModel
@section DynamicResources {
    <link href="~/lib/quill/quill.snow.css" rel="stylesheet">
    <script src="~/lib/quill/quill.js"></script>
    <script src="/js/web-application.js" async></script>
}
@{
    ViewData["Title"] = "Wunion.DataAdapter ORM";
}
<div>
    <h2>@ViewBag.Title</h2>
    <div id="my-editor"></div>
</div>
